*{
    padding: 0;
    margin: 0;
    text-decoration: dimgray;
    list-style: None;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: lightgrey;
}
nav{
    position: fixed;
    background: white;
    height: 60px;
    width: 100%;
    border-bottom: 2px solid gray;
    top: 0;
    z-index: 800;
}

label.logo{
    color: black;
    font-size: 20px;
    line-height: 60px;
    padding: 0 60px;
    font-weight: bold;
}
nav ul{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 300px;
    top: -40px;
    margin-right: 20px;
}

nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: #4A4A4A;
    font-size: 14px;
    font-weight: inherit;
    padding: 7px 13px;
    border-radius: 3px;
}

nav a:hover{
    font-weight: bold;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: #4A4A4A;
    float: left;
    line-height: 60px;
    margin-left: 40px;
    cursor: pointer;
}
#check{
    display: none;
}
@media (max-width: 1300px) {
    .newspaper{
        display: none;
    }
}
@media (max-width: 1200px) {
    .obituaries{
        display: none;
    }
}

@media (min-width: 1100px) {
    .droplist:hover{
        background-color: rgba(0,0,0,.10);
        border-left: 9px solid dodgerblue !important;
    }
    .phone-menu{
        display: none !important;
    }
    .droplist{
        border-left: transparent !important;
    }
}
@media (max-width: 1100px) {
    .life{
        display: none;
    }
    .menu{
        overflow: scroll;
    }
    .droplist:hover{
        background-color: transparent!important;
    }
    .frec-1{
        transform: rotate(90deg);
        cursor: pointer!important;
        z-index: 0 !important;
    }
    .new-lateral:hover ul{
        display: none!important;
    }
    .new-lateral:hover .cubo-new{
        display: none!important;
    }
    .sport-lateral:hover ul{
        display: none!important;
    }
    .sport-lateral:hover .cubo-sport{
        display: none!important;
    }
    .counties-lateral:hover ul{
        display: none!important;
    }
    .counties-lateral:hover .cubo-counties{
        display: none!important;
    }
    .phone-menu li {
        position: relative;
        left: 25px;
        top: -5px;
    }
    .phone-menu li a{
        font-weight: initial!important;
        color: grey!important;
    }
}
@media (max-width: 1050px) {
    .things{
        display: none;
    }
    .articolo-3{
        display: none;
    }
    .lato-sx{
        display: none;
    }
    .lato-dx{
        width: 100%;
    }
}
@media (max-width: 900px) {
    .opinion{
        display: none;
    }

}
@media (max-width: 800px) {
    .music{
        display: none;
    }
    .div-container{
        width: 100% !important;
        flex-wrap: wrap !important;
    }
    .articolo-1{
        padding: 0 !important;
    }
    .articolo-1 img{
        width: 100% !important;
    }
    .articolo-2{
        padding: 0 !important;
        width: 80% !important;
        margin: 0 auto !important;
    }
    .articolo-2 img{
        width: 90% !important;
    }
    .lato-dx {
        width: 100% !important;
    }

    .lato-dx .news-title h3{
        font-size: 1rem !important;
    }

    .main-recent{
        display: block !important;
    }

    .main-recent img{
        max-width: 100% !important;
    }

    .main-recent .news-title{
        right: 0 !important;
        top: -20px !important;
        width: 90% !important;
    }

    .recent-2 {
        margin-top: 20px !important;
        padding: 0 !important;
    }

    .recent-2 .recent {
        margin: 0 3px 0 2px !important;
    }

    .recent-2 .recent .news-title{
        margin: 10px 5px !important;
    }

    .recent-2 .recent .news-title h3{
        font-size: 0.9rem !important;
    }

    .footer-links{
        flex-wrap: wrap !important;
    }
}
@media (max-width: 700px) {
    .business{
        display: none;
    }
}
@media (max-width: 620px){
    .checkbtn{
        display: block;
    }
    .nav_ul{
        display: none;
    }
    .nav_ul il{
        display: none;
    }
    .nav_ul il a{
        display: none;
    }
    #check:checked ~ ul{
        left:0;
    }

}

@media (max-width: 450px){
    .menu{
        width: 100% !important;
    }
    .logo_2{
        right: 4% !important;
    }
    .search-box{
        width: 77.5% !important;
    }
    .search-btn{
        left: -10px !important;
        top: 25px !important;
    }
    .closebtn{
         left: 52% !important;
    }
    .frec-1{
        left: 87.5%!important;

    }
    .articolo img{
        margin-left: 10px;
    }
}
/*codice per menu laterale*/
.menu_2{
    backdrop-filter: blur(10px);
    background-color: rgba(0,0,0,.53);
    margin-left: -1840px;
    transition: margin-left .1s;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 900;
}
.menu{
    background-color: white;
    margin-left: -515px;
    transition: margin-left .2s;
    width: 450px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

}
.logo_2{
    width: 89%;
    position: relative;
    bottom: -2%;
    right: 13.7%;
    color: black;
    font-size: 20px;
    line-height: 80px;
    padding: 0 59px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
}
.menu ul{
    width: 100%;
    float: left;
    margin-left: 0px;
    margin-top: 20px;
    position: relative;
    left: 0;
}
.menu ul li{
display: list-item;
line-height: 15px;
}
.menu ul li a{
    display: block;
    width: 200px;
    position: relative;
    padding-top: 15px;
    color: black;
    font-size: 17px;
    font-weight: bold;
    left: 60px;
    box-sizing: border-box;
}
.closebtn{
    position: relative;
    left: 73%;
    font-size: 15px;
    cursor: pointer;
}
#close{
display: none;
}
.input_search{
    display: none;
}
.search-btn{
    font-size: 15px;
    position: relative;
    left: 410px;
    bottom: 15px;
    color: black;
    cursor: pointer;

}
div.search-box{
    float: left;
    height: 40px;
    width: 89%;
    margin-left: 50px;
    line-height: 20px;
    padding: 10px;

}
.search-txt{
    position: center;
    width: 90%;
    height: 45px;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    color: black;
    border-bottom: 1px solid gray;
}
div.search-box :hover{
    background-color: rgba(0,0,0,.1);
    transition: .5s;
}
.frec-1{
    font-size: 15px;
    position: relative;
    left: 412px;
    bottom: 15px;
    color: gray;
    z-index: -1;
    display: inline-block;
    cursor: pointer;
}
.no-frec{
    position: relative;
    padding-bottom: 15px;
}
.new-lateral ul{
    position: absolute;
    width: 200px;
    left: 325px;
    top: -20px;
    display: none;
    background: white;

}
.phone-menu{
    position: relative;
    width: 200px;
    top: -22px;
    display: none;
    background: white;
}

.new-lateral ul li{
    position: relative;
    top: -5px;
    padding: 7px 13px;
}
.new-lateral ul li a{
    font-weight: initial;
    color: #4A4A4A;
}
.new-lateral a:hover{
    font-weight: bold;
    transition: .5s;
}
.new-lateral:hover ul{
    display: initial;
}
.cubo-new{
    display: none;
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    left: 318px;
    top: 13px;
    transform: rotate(45deg);
}
.new-lateral:hover .cubo-new{
    display: initial;
}
.window-hover :hover{
    font-weight: bold;
}
.sport-lateral:hover ul{
    display: initial;
}
.sport-lateral ul{
    position: absolute;
    width: 200px;
    left: 325px;
    bottom: 185px;
    display: none;
    background: white;
}
.sport-lateral ul li{
    position: relative;
    top: -5px;
    padding: 7px 13px;
}
.sport-lateral ul li a{
    font-weight: initial;
    color: #4A4A4A;
}
.cubo-sport{
    display: none;
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    left: 318px;
    top: 59px;
    transform: rotate(45deg);
}
.sport-lateral:hover .cubo-sport{
    display: initial;
}
.counties-lateral:hover ul{
    display: initial;
}
.counties-lateral ul{
    position: absolute;
    width: 200px;
    left: 325px;
    bottom: 52px;
    display: none;
    background: white;
}
.counties-lateral ul li{
    position: relative;
    text-align: initial;
    top:    -5px;
    padding: 7px 1px;
}
.counties-lateral ul li a{
    font-weight: initial;
    color: #4A4A4A;
}
.cubo-counties{
    display: none;
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    background: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
    left: 318px;
    top: 104px;
    transform: rotate(45deg);
}
.counties-lateral:hover .cubo-counties{
    display: initial;
}


/*main page*/
#main {
    background-color: white;
    margin-top: 56px;
}
.articolo-1 {
    padding-left: 60px;
}
img {
    max-width: 100%;
}
.articolo-1 .para-1 {
    background-color: white;
    width: 80%;
    position: relative;
    top: -50px;
    padding: 20px;
    color: black;
}
.main-h:hover{
    text-decoration: underline dodgerblue;
}
.div-container {
    margin: 0 auto;
    width: 85%;
    display: flex;
    padding-bottom: 50px;
}
.articolo-2 {
    padding: 0 20px;
}

.articolo-2 .titolo-articolo-2 {
    background-color: white;
    width: 80%;
    padding: 10px;
    position: relative;
    top: -40px;
    color: black;
}
.articolo-2 .titolo-articolo-2:hover{
    text-decoration: underline dodgerblue;
}
.articolo-3 {
    padding: 0 20px;
    margin-top: 50px;
}
.articolo-3 li {
    margin: 20px 0;
}
.articolo-3 .news-title {
    padding: 20px 0;
    color: black;
    font-size: 15px;
}
/* articles */
#articles {
    margin-top: 20px;
}
.lato-sx {
    min-width: 300px;
    padding: 0 10px;
}
.ad {
    background-color: white;
}
.ad a h3 {
    position: relative;
    color:  dodgerblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 76px;
    border-style: solid;
    border-width: thick;
    width: 70%;
    margin-left: 18%;
}
.ad a p {
    color: black;
    text-align: center;
}
.titolo {
    padding: 20px 0;
}
.titolo h2 {
    margin-left: 10px;
    font-size: 1.2rem;
    display: inline-block;
}
.rettangolo {
    width: 20px;
    height: 10px;
    background-color: dodgerblue;
    display: inline-block;
}
.more-stories {
    background-color: white;
    height: 1817px;
    padding: 20px;
}
.articolo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}
.articolo .news-title {
    color: black;
}
.news-title h3 {
     margin-bottom: 5px;
     font-size: 1.2rem;
 }
.type {
    font-weight: bold;
    color: #4A4A4A;
}
img {
    max-width: 100%;
}
.lato-dx {
    padding: 0 10px;
}
.container-dx {
    background-color: white;
    height: 1519px;
    padding: 20px 50px;
}
.titolo .more-right {
    float: right;
    margin-right: 20px;
    color: black;
}
.fa-solid, .fas {
    font-weight: 900;
}
.most-recents {
    background-color: white;
}
.main-recent {
    display: flex;
    color: black;
}
.main-recent img {
    max-width: none;
}
.main-recent .news-title {
    background-color: white;
    position: relative;
    top: 60px;
    right: 50px;
    padding: 15px;
    min-width: 170px;
}
.btn {
    display: block;
    background-color: #d1d1d1;
    width: 44px;
    height: 44px;
    text-align: center;
    padding: 10px 0;
    margin-top: 10px;
}
.btn i {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}
.main-btn .duration {
    visibility: collapse;
    position: relative;
    top: -4px;
    padding-left: 10px;
    font-size: 0.8rem;
    color: white;
    transition: visibility 0s ease-in;
}
.recent-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 70px;
}
.recent {
    box-shadow: 1px 0px 2px lightgray;
    margin: 0 5px;
    color: black;
    max-width: 200px;
}
.recent .btn {
    margin-top: -48px;
}
.recent .news-title {
    margin: 10px;
}
.show-more {
    background-color: white;
    padding: 20px;
    text-align: center;
}
.show-more a {
    color: grey;
}
.show-more a span {
    color: black;
    font-weight: bold;
}
/*footer*/
footer {
    padding: 20px 10px;
}
.footer-links, .social-links {
    display: flex;
    align-items: center;
}
.footer-links ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer-links li {
    padding: 5px;
}
.footer-links li a {
    color: #4A4A4A;
    font-size: 15px;
}
.footer-links .dot {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: grey;
}
.footer-links li:last-child a {
    color: black;
    font-weight: bold;
}
.social-links {
    padding: 20px 0;
}
.fa-brands, .fab {
    font-size: 22px;
    margin: 10px;
}
.social-links li a, .social-links li a:visited {
    color: dodgerblue;
}
footer p {
    margin-left: 5px;
    color: #4A4A4A;
    font-size: 14px;
}